@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import "bootstrap.min";
@import "mixins";

$color-primary: #fff;
$color-secondary: #D5473E;
$green1: #396B76;
$green2: #99A18A;
$line: rgba(255, 255, 255, .1);

body {
	@include gradient-horizontal($green1, $green2);
	overflow-y: scroll;

	font-family: 'Roboto', sans-serif;
}

p {
	margin-bottom: 0;
}

.site-container {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&.sun {
		background: #E9EAF4 url(../images/weather-sun.jpg) center center fixed;
	}

	&.snow {
		background: #E9EAF4 url(../images/weather-snow.jpg) center center fixed;
		.container {
			background-color: rgba(0,0,0,.2);
		}
	}

	&.rain {
		background: #E9EAF4 url(../images/weather-rain.jpg) center center fixed;
		.container {
			background-color: rgba(0,0,0,.2);
		}
	}

	&.fog {
		background: #E9EAF4 url(../images/weather-fog.jpg) center center fixed;
	}

	&.night {
		background: #E9EAF4 url(../images/weather-night.jpg) center center fixed;
	}
}

.inner-container {
	background: rgba(0,0,0,.4);
}

.container {
	background-color: rgba(255,255,255,.1);
	min-height: 100vh;
}

header {
	border-bottom: 1px solid $line;

	.logo {
		h1 {
			color: #fff;
			font-size: 1.8em;
			font-weight: 300;
			@media (max-width: 991px) {
				text-align: center;
			}

			img {
				width: 32px;
				margin-top: -10px;
			}

			span {
				font-size: .4em;
				font-weight: 400;
				background: none;
				border: 1px solid rgba(255, 255, 255, .1);

				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	.type-buttons {
		margin-top: 15px;
		float: right;

		.btn {
			padding: 6px 15px;
			background-color: rgba(255, 255, 255, .1);
			border: 1px solid #fff;
			color: #fff;
			font-weight: 700;
			@include border-radius(0);

			&:hover {
				background-color: #fff;
				color: grey;
			}
		}
	}

	.form-container {
		@media (max-width: 991px) {
			margin-bottom: 10px;
		}

		.form-group {
			input {
				@include border-radius(2px);
				height: auto;
				border: none;
			}

			button {
				&.btn {
					display: block;
					width: 100%;
					background: none;
					border: 1px solid rgba(255, 255, 255, .5);
					color: #fff;

					@media (max-width: 768px) {
						margin-top: 10px;
					}


					&:hover {
						background-color: #fff;
						color: $green1;
					}
				}
			}
		}
	}

	nav {
		ul {
			list-style-type: none;
			margin: 25px 0 0 0;

			li {
				a {
					color: #fff;

					&:hover {
						color: yellow;
					}
				}
			}
		}
	}
}

.btn {
	@include border-radius(2px)
}



.place-info {
	margin: 15px 0;
	h2 {
		text-align: center;
		color: #fff;
		font-weight: 300;
		margin: 0;

		span {
			font-weight: 400;
		}
	}
}

.current-place {
	text-align: center;

	h2 {
		color: #fff;
		font-size: 1.7em;

	}
}

.current-weather {
	text-align: center;
	margin: 50px auto;
	width: 550px;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			color: whitesmoke;
			text-align: left;
			font-size: 1.3em;
			border-bottom: 1px solid rgba(255,255,255,.1);
			padding-bottom: 7px;
			margin-bottom: 7px;

			.larger-font {
				font-size: 2em;
			}
		}
	}

	img {
		max-width: 100%;
		width: 250px;
	}

	span {
		&.temperature {
			background-color: rgba(255, 255, 255, .1);
			@include border-radius(2px);
			padding: 3px 7px;
			margin-left: 7px;
			color: #fff;
			font-size: .8em;
		}
	}

	.description {
		p {
			font-size: 1.5em;
			margin-top: 15px;
			color: #fff;
		}

		.larger-font {
			font-size: 2em;
			color: #faff6b;
		}
	}
}

.detailed-weather {
	border-top: 1px solid rgba(255, 255, 255, .1);

	.navigation {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;

		.btn-group {
			.btn {
				background: none;
				border: 1px solid #fff;
				@include border-radius(0);
				padding: 8px 20px;
				font-weight: 500;
			}

			.active {
				background-color: #fff;
				color: $green1;
				z-index: 0;
			}
		}
	}
}

.all-day-weather {

	.element {
		background-color: rgba(255, 255, 255, .15);
		padding: 10px;
		text-align: center;
		@include border-radius(2px);
		color: #fff;
		margin-bottom: 20px;
		height: 320px;

		&:hover {
			background-color: rgba(255,255,255,.3);
			cursor: pointer;
		}

		.time {
			border-bottom: 1px solid rgba(255, 255, 255, .2);
			p {
				padding: 3px;
			}
		}

		.icon-container {
			padding: 20px;
			img {
				width: 125px;
			}
		}

		.summary {
			p {
				span {
					font-size: .85em;
					background-color: rgba(255, 255, 255, .1);
					@include border-radius(2px);
					padding: 2px 7px;
				}
			}
		}
	}
}

.last-month-weather {
	table {
		tr {
			&:hover {
				background-color: rgba(255, 255, 255, .1);
			}

			td {
				border-top: 1px solid rgba(255, 255, 255, .1);
				color: #fff;
				width: 25%;

				img {
					width: 32px;
				}
			}
		}
	}
}

footer {
	text-align: center;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			a {
				color: #fff;

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.map-container {
	padding-top: 50px;
	.google-map {
		height: 300px;

		.super-map-wrapper {
			margin-top: 20px;
			position: static !important;
		}
	}
}

.ReactModal__Content {
	background-color: rgba(255, 255, 255, .8) !important;
	left: 35% !important;
	right: 35% !important;
	position: relative;
	height: 270px;

	.close-modal {
		position: absolute;
		top: 0;
		right: 0;

		&:hover {
			background-color: #343434;
			color: whitesmoke;
		}
	}


}

.register-form {
	h3 {
		margin-top: 0 !important;
	}

	textarea {
		@include border-radius(0);
		margin-top: 10px;
	}
}

.comments {
	border-top: 1px solid rgba(255, 255, 255, .2);
	h2 {
		color: whitesmoke;
	}

	.modal-btn {
		border: 1px solid #fff;
		background: none;
		font-size: 1.1em;
		font-weight: 700;
		color: #fff;
		min-width: 250px;

		img {
			width: 1em;
			margin-top: -4px;
			margin-right: 5px;
		}
		
		&:hover {
			background: $green1;
			color: #fff;
		}
	}

	.comments-container {
		.comment-element {
			border-bottom: 1px solid rgba(255, 255, 255, .1);
			margin-bottom: 10px;
			padding: 10px 140px 10px 10px;
			position: relative;

			h5 {
				color: #fff;
				font-size: 1.3em;
			}

			p {
				font-style: italic;
				color: whitesmoke;
			}

			small {
				color: antiquewhite;
				margin-left: 20px;
			}

			.admin-controls {
				list-style-type: none;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 20px;
				right: 0;

				li {
					.btn {
						width: 100px;
						margin-bottom: 10px;
						font-size: .9em;

						&.btn-success {
							background: none;
							border: 1px solid #43a92d;
						}

						&.btn-danger {
							background: none;
							border: 1px solid #ff514c;
						}

						&:hover {
							background: #fff;
							color: #000;
						}
					}
				}
			}
		}
	}
}

.ReactModal__Content {
	background: rgba(0, 0, 0, .8) !important;
	width: 650px !important;
	height: 450px !important;

	h3 {
		color: whitesmoke !important;
	}
}